@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Courgette');
* { box-sizing: border-box; animation-name: fade; animation-duration: 1.5s;}
body{
background-color: rgb(217, 217, 217);
  background-image:url(2.jpg);
  font-family: 'Raleway', sans-serif;
  margin: 20px;

}
header{
  height: 260px;
  margin-top: 70px;
  text-align: center;
}
@keyframes fade{
  from{opacity: 0; margin-top: 10px;}
  to{opacity: 1;}
}
.plsCodeBetter{
  width:1200px;
  margin: 0 auto;
background-color: orange;
   box-shadow: 5px 16px 32px 0px rgba(0,0,0,1);
    border-radius: 15px;
}
.logo {
  border-radius: 15px;
}
h4 {
border: 50%;
	font-family: 'Raleway', sans-serif;
}

.shop{margin:0 auto;}

header>h1{
  padding: 20px 0 40px 0;
   font-family: 'Courgette', cursive;
  font-size:60px;
	background-image: url("images/HoneyHeader1.jpg");

}
header>h2{
margin-top: -100px;
  font-family: 'Raleway', sans-serif;
}

nav{
   font-family: 'Just Another Hand', cursive;
height: 30px;
  background-color: black;
  padding: 5px;
  margin-top: 20px;
   border-radius: 15px;
}

nav>a{
text-decoration: none;
  color: orange;
  padding: 0 20px;
}

nav>a:hover{
  color: white;
}

img{
width:90%;
border-radius: 15px 15px 15px 15px;
}

article{
width: 450px;
    display: inline-block;
    margin:0 auto;
	text-align: center;
}

article>img{box-shadow: 5px 16px 32px 0px rgba(0,0,0,1);}

header>.button{
background-color: black;
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
 font-family: 'Kalam', cursive;
}

header>a:link{
  color: orange;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Just Another Hand', cursive;
}

img.resize {
  width:20%;
  height:20%;
}

section.introduction {
	padding-bottom: 30px;
	
}

.services {
	padding-top: 100px;
  display: block;
	width: 1024px;
  margin: 0 auto;
}

.service{
  width: 49%;
  vertical-align:   top;
  background-color:     rgb(255,120,0);
  height: 600px;
  margin-bottom:  10px;
  border-radius: 15px;
  box-shadow: 5px 16px 32px 0px rgba(0,0,0,1);
}

header>a:hover{
  color: white;
}

.introduction{
  color: white;
  margin: 0 auto;
  font-family: 'Just Another Hand', cursive;
  text-align: center;
  width: 50%;
}

.button-container{
background-color: black;
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
    text-align: center;
	width: 200px;
	margin:0 auto;
}

.button-container>a:link{
  color: orange;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
}

.button-action>a{
font-family: 'Just Another Hand', cursive;
}

.button-container>a:hover{
  color: white;
}

.introduction>p{
 color: white;
 font-family: 'Raleway', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.section-heading{
margin-left: 10px;
}

.service-title{
 font-family: 'Just Another Hand', cursive;
}

.service-content{
 width:90%;
 margin: 0 auto;
}

.header-nav {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.section{
margin-left:20px;
}

.footer-section {
  display: inline-block;
}

footer { 
  margin:0 auto;
  text-align: center;
}

.footer-nav{color: orange;}

.shop {
  text-align: center;
}

.item.third{
  margin-top: 10px;
}

.item-details{
  text-align: center;
   margin: 0 auto;
   background-color:   rgb(255,120,0);
   width:90% ;
 border-radius: 15px;
 margin-top: 15px;
 box-shadow: 5px 16px 32px 0px rgba(0,0,0,1);
}

.buy-button {
  font-family: 'Just Another Hand', cursive;
  font-size: 25px
}

.item-details>p{margin: 5;}

.footer-section{
  background-color:   rgb(255,120,0);
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  width: 15%;
}
.footer-list{
  padding: 0;
}
.about{
  margin: 0 auto;
  text-align: center;
  width: 500px;
}
.buttonThing{padding: 30px;}
.footer-list-item{width: 100px; margin-left: 40px;}
